node_modules
.git
.env
.env.*
.vscode
dist
.astro
*.log
.netlify
.vercel
Dockerfile
docker-compose.yml
.dockerignore
README.md
.gitignore
.github
.editorconfig
*.md
coverage
.cache
.DS_Store
Thumb.db
