@import 'katex/dist/katex.min.css';
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


.atkinson-hyperlegible-regular,body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold, h1,h2,h3,h4,h5,h6, strong {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.jetbrains-mono, code {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

figure.plantuml-diagram img {
  border-radius: 3px;
  overflow: hidden;
}

html[data-theme="dark"] strong {
  color: #FFAA33;
}



html[data-theme="light"] strong {
  color: 	#FF7518;
}

html[data-theme="dark"] em {
  color: 	#90caf9;
}

html[data-theme="light"] em {
  color: 	#1e88e5;
}